body {
    font-family: "Helvetica", "Arial", "微軟正黑體", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #344648;
}

#loading {
    background-color: #bacec1;
    color: #e09e50;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.spinner {
    width: 20px;
    height: 20px;
    border: 4px solid;
    border-color: #e09e50 transparent #e09e50 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.sidebarbg {
    position: fixed;
    width: 25%;
    height: 1000%;
    background-color: #f7f1ed;
    z-index: -50;
}

.video-content,
.link-content {
    padding: 8px;
}

.intro-content,
.video-content,
.link-content {
    line-height: 25px;
}

.link-title {
    font-size: 24px;
    padding: 10px 0;
    border-bottom: 1px dotted #ccc;
}

.link-url {
    font-size: 16px;
}

.faq-content {
    margin: 0 auto;
}

.faq-question {
    padding: 10px 0;
    border-bottom: 1px dotted #ccc;
}

.faq-question:last-child {
    border-bottom: 0px;
}

.panel-title {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 8px 30px;
    display: block;
    cursor: pointer;
}

.panel-content {
    font-size: 16px;
    padding: 0px 10px;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
}

.panel:checked~.panel-content {
    height: auto;
    opacity: 1;
    padding: 10px;
}

.plus {
    position: absolute;
    margin-left: 8px;
    margin-top: 8px;
    z-index: 5;
    font-size: 20px;
    line-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.panel:checked~.plus {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.panel {
    display: none;
}

h1,
h2 {
    margin: 0;
    padding: 10px 5px 0px 5px;
    font-size: 36px;
    font-weight: bolder;
}

h1 {
    padding: 10px 5px;
    cursor: pointer;
}

h3 {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e09e50;
}

a {
    text-decoration: none;
    color: #333;
}

#phonemain {
    display:none;
}

div.mainbox div.intro div.signature {
    text-align: right;
}

span.subtitle {
    font-size: 16px;
}

div.detailcontent {
    padding: 2px 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.intro-content .intro {
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-clear {
    clear: both;
}

.box .column {
    float: left;
    width: 33%;
    height: 100px;
    font-size: 16px;
}

.box .column .column-detail {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
}

.columns {
    display: flex;
}

.col2 {
    width: 50%;
}

.col2 .type1 {
    padding: 10px 2px;
    background-color: #f4f2f3;
}

.col2 .type2 {
    padding: 10px 2px;
    background-color: #f2e9eb;
}

.col2 .type3 {
    padding: 10px 2px;
    background-color: #e8eceb;
}

.work-title {
    font-size: 16px;
}

.work-detail {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
}

@media (max-width: 767.98px) {
    body {
        background-color: #f7f1ed;
    }

    .phonedetail {
        font-size: 16px;
        display: none;
    }

    h1,
    h2 {
        background-color: #bacec1;
    }

    div.mainbox {
        padding: 10px;
    }

    div.mainbox div.quote {
        font-size: 24px;
        line-height: 36px;
        padding: 10px 0px 20px 0px;
    }

    div.mainbox div.article {
        line-height: 24px;
    }

    span.subtitle {
        display: block;
    }

    li {
        padding: 10px;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
    }

    .detail {
        position: fixed;
        top: 0;
        background-color: #f7f1ed;
        width: 100%;
        height: 1000%;
        padding-bottom: 25px;
        transform: translateX(100%);
        transition: transform 0.2s;
    }

}

@media (min-width: 768px) {
    body {
        display: flex;
    }

    .sidebar {
        left: 0px;
        top: 0px;
        bottom: 0px;
        width: 25%;
        background-color: #f7f1ed;
    }

    span.subtitle {
        display: block;
    }

    div.mainbox {
        padding: 10px;
    }

    div.mainbox div.quote {
        line-height: 36px;font-size: 30px;
    }

    li {
        padding: 10px 15px;
        border-bottom: 1px solid #94a7ae;
        cursor: pointer;
    }

    li:hover,
    li.focus {
        background-color: #bacec1;
        font-weight: bolder;
    }

    div.content {
        width: 75%;
    }

    div.detail {
        display: none;
        padding: 5px 10px;
    }

    a {
        text-decoration: none;
    }

}