body {
    font-size: 20px;
    font-weight: bold;
    color: #344648;
}

#loading {
    background-color: #bacec1;
    color: #e09e50;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.spinner {
    width: 20px;
    height: 20px;
    border: 4px solid;
    border-color: #e09e50 transparent #e09e50 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.sidebarbg {
    position: fixed;
    width: 25%;
    height: 1000%;
    background-color: #f7f1ed;
    z-index: -50;
}

.intro-content,
.video-content,
.link-content {
    padding: 8px;
    line-height: 30px;
}

.link-title {
    font-size: 24px;
    padding: 10px 0;
    border-bottom: 1px dotted #ccc;
}

.link-url {
    font-size: 16px;
}

.faq-content {
    margin: 0 auto;
}

.faq-question {
    padding: 10px 0;
    border-bottom: 1px dotted #ccc;
}

.faq-question:last-child {
    border-bottom: 0px;
}

.panel-title {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 8px 30px;
    display: block;
    cursor: pointer;
}

.panel-content {
    font-size: 16px;
    padding: 0px 10px;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
}

.panel:checked~.panel-content {
    height: auto;
    opacity: 1;
    padding: 10px;
}

.plus {
    position: absolute;
    margin-left: 8px;
    margin-top: 8px;
    z-index: 5;
    font-size: 20px;
    line-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.panel:checked~.plus {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.panel {
    display: none;
}

header,
div.detailHeader {
    padding: 10px 5px;
    font-size: 36px;
    font-weight: bolder;
}

span.subtitle {
    font-size: 16px;
}

div.detailcontent {
    padding: 15px 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 767.98px) {
    body {
        background-color: #f7f1ed;
    }

    .phonedetail {
        font-size: 16px;
        display: none;
    }

    header,
    div.detailHeader {
        background-color: #bacec1;
    }

    span.subtitle {
        display: block;
    }

    li {
        padding: 10px 5px;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: #333;
    }


    .detail {
        position: fixed;
        top: 0;
        background-color: #f7f1ed;
        width: 100%;
        height: 1000%;
        padding-bottom: 25px;
        transform: translateX(100%);
        transition: transform 0.2s;
    }

}

@media (min-width: 768px) {
    body {
        display: flex;
    }

    .sidebar {
        left: 0px;
        top: 0px;
        bottom: 0px;
        width: 25%;
        background-color: #f7f1ed;
    }

    span.subtitle {
        display: block;
    }

    li {
        padding: 10px 15px;
        border-bottom: 1px solid #94a7ae;
        cursor: pointer;
    }

    li:hover,
    li.focus {
        background-color: #bacec1;
        font-weight: bolder;
    }

    div.content {
        width: 75%;
    }

    div.detail {
        display: none;
    }

    a {
        text-decoration: none;
    }

}